.titulo {
	font-size: 36px;
	color: #1e8c1b;
	margin-bottom: 2rem;
	font-family: 'Baloo Bhai 2', cursive;
}
.input {
width: 50%;
align-self: center;
padding: 14px 16px;
font-size: 30px;
border: 2px solid #d1d5db;
border-radius: 10px;
outline: none;
transition: all 0.2s;
margin-bottom: 1.2rem;
font-family: 'Poppins', 'Segoe UI', sans-serif;
font-weight: 700;
color:#2c3e50


}
.boton {
	width: 25%;
    align-self: center;
	padding: 12px 24px;
	border: none;
	border-radius: 10px;
	background-color: #1e8c1b;
	color: rgba(255, 255, 255, 0.911);
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
	transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.2s ease;
}
.boton:hover {
	background-color: #3cc014c7;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
	transform: translateY(-1px);
}